* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}
.sidebar{
    width: 200px;
    color: rgb(255, 255, 255);
    background-color: #333;
    margin:0;
    padding: 20px;
}
.sidebar h2{
    margin-bottom: 20px;
}

.sidebar a{
    color: white;
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}
.sidebar a.selected{
    color: #007bff;
}

.container2{
    flex: 1;
    pad: 10px 0px;
    background-color: white;
}
.home{
    background:#007bff;
    color:white;
    text-align:center;
    padding:20px 0px;
    margin-bottom:20px;
}
table{
    width: 80%;
    border-collapse: collapse;
} th, td {
  border: 1px solid black;  
  padding: 10px;
}
